<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-address-card-o fa-3x"></i>
  </div>
  <div class="content-description">
    Contact
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <a href="https://github.com/coffeys1" target="_blank">
      <i class="fa fa-github fa-3x"></i>
    </a>
  </div>
  <div class="content-description">
    Github
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <a href="https://bitbucket.org/coffeys1/" target="_blank">

    </a>
    <a href="" target="_blank">
      <i class="fa fa-bitbucket fa-3x"></i>
    </a>
  </div>
  <div class="content-description">
    Bitbucket
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <a href="https://www.linkedin.com/in/sam-coffey-44a0a581" target="_blank">
      <i class="fa fa-linkedin-square fa-3x"></i>
    </a>
  </div>
  <div class="content-description">
    LinkedIn
  </div>
</div>