<div class="content-item" id="resume-doc">
  <div class="content-icon">
    <i class="fa fa-file-pdf-o fa-3x"></i>
  </div>
  <div class="content-description">
    resume.pdf
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-word-o fa-3x"></i>
  </div>
  <div class="content-description">
    resume.docx
  </div>
</div>

<script>

  $(document).ready(function() {

    $('#resume-doc').click(function() {
      $('#folder-content').hide();
      $('#resume-content').fadeIn(1000);
    });

  });

</script>

