<!-- Top Bar -->


<!-- Content View -->
<div class="window-content-view">



  <!-- Documents -->
  <div class="main-content-view" id="docs-content">
    <%= render 'documents' %>
  </div>

  <!-- Projects -->
  <div class="main-content-view" id="projects-content" style="display:none;">
    <%= render 'projects' %>
  </div>

  <!-- Samples -->
  <div class="main-content-view" id="samples-content" style="display:none;">
    <%= render 'samples' %>
  </div>

  <!-- About -->
  <div class="main-content-view" id="about-content" style="display:none;">
    <%= render 'about' %>
  </div>

</div>

<script>

  $(document).ready(function() {
    // Color variables for sidebar list items
    var listNorm = '#CACDD1';
    var listSel = '#ADB0B2';

    // Give the "Documents" item an initial selected color
    $('#docs').css({ 'background-color': listSel });

    /* List Item Click
     *
     * Change all list items back to the normal color, then
     * give the clicked list item the selected color.
     *
     * Hide the currently shown content, then show
     * the content for the selected item
     */
    $('.folder-list-item').click(function() {

      // Iterate items, give all normal color
      $('.folder-list-item').each(function() {
        $(this).css({ 'background-color': listNorm });
      });
      // Then give the selected item the selected color
      $(this).css({ 'background-color': listSel });

      // Iterate all content and hide each
      $('.main-content-view').each(function() {
        $(this).hide();
      });

      // Figure out which content to display and display it
      if ($(this).attr('id') == 'docs') {
        $('#docs-content').fadeIn(500);
      } else if ($(this).attr('id') == 'projects') {
        $('#projects-content').fadeIn(500);
      } else if ($(this).attr('id') == 'samples') {
        $('#samples-content').fadeIn(500);
      } else if ($(this).attr('id') == 'about-me') {
        $('#about-content').fadeIn(500);
      }
    });
  });

</script>