<!-- Top Bar -->
<div class="window-bar">
  <div class="w-close w-btn">
    <i class="fa fa-times"></i>
  </div>
  <div class="w-min w-btn">
    <i class="fa fa-minus"></i>
  </div>
  <div class="w-max w-btn">
    <i class="fa fa-plus"></i>
  </div>
</div>

<!-- Content View -->
<div class="window-content-view">

  <!-- Folder List View -->
  <div class="sidebar-folder-list">
    <div class="folder-list-item" id="docs">
      <i class="fa fa-folder-o"></i>
      <p>Documents</p>
    </div>
    <div class="folder-list-item" id="projects">
      <i class="fa fa-desktop"></i>
      <p>Projects</p>
    </div>
    <div class="folder-list-item" id="samples">
      <i class="fa fa-code"></i>
      <p>Samples</p>
    </div>
    <div class="folder-list-item" id="about-me">
      <i class="fa fa-user-circle-o"></i>
      <p>About Me</p>
    </div>
  </div> <!-- >.sidebar-folder-list -->

  <!-- Documents -->
  <div class="main-content-view" id="docs-content">
    <%= render 'documents' %>
  </div>

  <!-- Projects -->
  <div class="main-content-view" id="projects-content" style="display:none;">
    <%= render 'projects' %>
  </div>

  <!-- Samples -->
  <div class="main-content-view" id="samples-content" style="display:none;">
    <%= render 'samples' %>
  </div>

  <!-- About -->
  <div class="main-content-view" id="about-content" style="display:none;">
    <%= render 'samples' %>
  </div>

</div>

<script>

  $(document).ready(function() {
    // Color variables for sidebar list items
    var listNorm = '#CACDD1';
    var listSel = '#ADB0B2';

    // Give the "Documents" item an initial selected color
    $('#docs').css({ 'background-color': listSel });

    /* List Item Click
     *
     * Change all list items back to the normal color, then
     * give the clicked list item the selected color.
     *
     * Hide the currently shown content, then show
     * the content for the selected item
     */
    $('.folder-list-item').click(function() {

      // Iterate items, give all normal color
      $('.folder-list-item').each(function() {
        $(this).css({ 'background-color': listNorm });
      });
      // Then give the selected item the selected color
      $(this).css({ 'background-color': listSel });

      // Iterate all content and hide each
      $('.main-content-view').each(function() {
        $(this).hide();
      });

      // Figure out which content to display and display it
      if ($(this).attr('id') == 'docs') {
        $('#docs-content').fadeIn(500);
      } else if ($(this).attr('id') == 'projects') {
        $('#projects-content').fadeIn(500);
      } else if ($(this).attr('id') == 'samples') {
        $('#samples-content').fadeIn(500);
      } else if ($(this).attr('id') == 'about-me') {
        $('#about-content').fadeIn(500);
      }
    });


    $('.w-min').click(function() {
      $('.doc-browser').hide(500);
      $('.min-window').delay(300).show(200);
    });


    $('.min-window').click(function() {
      $(this).hide();
      $('.doc-browser').show(600);
    });
  });

</script>