<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-folder fa-3x"></i>
  </div>
  <div class="content-description">
    Project1
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-folder fa-3x"></i>
  </div>
  <div class="content-description">
    Project2
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-folder fa-3x"></i>
  </div>
  <div class="content-description">
    Project3
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-folder fa-3x"></i>
  </div>
  <div class="content-description">
    Project4
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-folder fa-3x"></i>
  </div>
  <div class="content-description">
    Project5
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-folder fa-3x"></i>
  </div>
  <div class="content-description">
    Project6
  </div>
</div>