<div class="doc-title">
  <h3>Sam Coffey's Resume</h3>
</div>

<!-- Education -->
<div class="section-type">
  <h5 class="section-title">
    EDUCATION:
  </h5>
  <p class="sub-item"><strong>Michigan State University,</strong> Bachelor of Science in Computer Science</p>
  <p class="sub-item x2"><strong>Graduation Date:</strong> May 2018</p>
  <p class="sub-item x2"><strong>GPA:</strong> 3.48/4.0</p>
  <p class="sub-item x2"><strong>Deans's List Recipient:</strong> 2 semesters</p>
</div>

<!-- Technical Skills -->
<div class="section-type">
  <h5 class="section-title">
    TECHNICAL SKILLS:
  </h5>
  <p class="sub-item">
    <i class="fa fa-circle"></i> Proficient in Python, C++, and Swift programming languages
  </p>
  <p class="sub-item">
    <i class="fa fa-circle"></i> iOS application development with Swift along with multiple popular open-source frameworks
  </p>
  <p class="sub-item">
    <i class="fa fa-circle"></i> Desktop application and game development with C++
  </p>
  <p class="sub-item">
    <i class="fa fa-circle"></i> Web application development using Ruby on Rails, HTML, CSS and JavaScript
  </p>
  <p class="sub-item">
    <i class="fa fa-circle"></i> Development experience in Windows, Mac OSX, and Linux platforms
  </p>
</div>

<!-- Professional Experience -->
<div class="section-type">
  <h5 class="section-title">
    PROFESSIONAL EXPERIENCE:
  </h5>

  <!-- STRAmetrics -->
  <p class="sub-item short-margin sub-cat"><strong>STRAmetrics,</strong> <span class="light">East Lansing, MI</span></p>
  <p class="sub-item"><span class="light">Web Application Developer</span></p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Full stack web application development using Ruby on Rails, HTML, CSS, and JavaScript
  </p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Usage of AJAX, jQuery, and other popular JavaScript frameworks
  </p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Currently developing secure and user-friendly web applications from scratch
  </p>

  <!-- iOS Video Productions Application -->
  <p class="sub-item short-margin sub-cat"><strong>iOS Video Productions Application</strong></p>
  <p class="sub-item"><span class="light">iOS Developer</span></p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Mobile video productions application written in Swift currently in development
  </p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Usage of an MBaas backend solution for storing user data and Core Data for local storage
  </p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Developed a custom camera utility allowing users to easily and intuitively utilize various camera functions
  </p>

  <!-- Agate Software -->
  <p class="sub-item short-margin sub-cat"><strong>Agate Software,</strong> <span class="light">Okemos, MI</span></p>
  <p class="sub-item"><span class="light">Software Development Intern</span></p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Worked on development and testing of multiple statewide grant management software systems
  </p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Assisted clients on methodologies to improve user experience
  </p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Used MS SQL 2014 in various data management and maintenance strategies
  </p>

  <!-- LaunchM -->
  <p class="sub-item short-margin sub-cat"><strong>LaunchM,</strong> <span class="light">San Francisco, CA</span></p>
  <p class="sub-item"><span class="light">Freelance IT Consultant</span></p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Worked on multiple web development and testing of multiple statewide grant management systems
  </p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Utilized SEO best practices to provide an optimal web presence for multiple organizations
  </p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Used Python to write data mining and analysis tools for large-scale marketing objective
  </p>

  <!-- First National Bank of America -->
  <p class="sub-item short-margin sub-cat"><strong>First National Bank of America,</strong> <span class="light">East Lansing, MI</span></p>
  <p class="sub-item"><span class="light">Loan Analyst</span></p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Analysis and underwriting of residential mortgage loans
  </p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Determined the viability of loan packages for purchase on the secondary market
  </p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Evaluation of loan criteria and income/debt calculations for up to 200+ loans per package
  </p>
  <p class="sub-item x2">
    <i class="fa fa-circle"></i> Emphasis on team communication for analysis and viability determinations
  </p>

</div>

<!-- Activities/Organizations -->
<div class="section-type">
  <h5 class="section-title">
    ACTIVITIES/ORGANIZATIONS:
  </h5>
  <p class="sub-item x2"><strong>Tutor,</strong> <span class="light"> PACE program volunteer service</span></p>
  <p class="sub-item x2"><strong>Participant,</strong> <span class="light"> Intramural Men's Softball</span></p>
  <p class="sub-item x2"><strong>Participant,</strong> <span class="light"> MSU Spartahack</span></p>
  <p class="sub-item x2"><strong>Member,</strong> <span class="light"> MSU Association for Computing Machinery</span></p>
</div>








