<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-code-o fa-3x"></i>
  </div>
  <div class="content-description">
    sample_1.cpp
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-code-o fa-3x"></i>
  </div>
  <div class="content-description">
    sample_1.py
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-code-o fa-3x"></i>
  </div>
  <div class="content-description">
    sample_1.swift
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-code-o fa-3x"></i>
  </div>
  <div class="content-description">
    sample_1.rb
  </div>
</div>
<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-code-o fa-3x"></i>
  </div>
  <div class="content-description">
    sample_2.cpp
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-code-o fa-3x"></i>
  </div>
  <div class="content-description">
    sample_2.py
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-code-o fa-3x"></i>
  </div>
  <div class="content-description">
    sample_2.swift
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-code-o fa-3x"></i>
  </div>
  <div class="content-description">
    sample_2.rb
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-code-o fa-3x"></i>
  </div>
  <div class="content-description">
    sample_3.cpp
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-code-o fa-3x"></i>
  </div>
  <div class="content-description">
    sample_3.py
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-code-o fa-3x"></i>
  </div>
  <div class="content-description">
    sample_3.swift
  </div>
</div>

<div class="content-item">
  <div class="content-icon">
    <i class="fa fa-file-code-o fa-3x"></i>
  </div>
  <div class="content-description">
    sample_3.rb
  </div>
</div>