<div class="min-window">
</div>

<div class="doc-browser">

  <!-- Top Bar -->
  <div class="window-bar">
    <div class="w-close w-btn">
      <i class="fa fa-times"></i>
    </div>
    <div class="w-min w-btn">
      <i class="fa fa-minus"></i>
    </div>
    <div class="w-max w-btn">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <!-- Content View -->
  <div class="window-content-view">

    <!-- Folder List View -->
    <div class="sidebar-folder-list">
      <div class="folder-list-item" id="docs">
        <i class="fa fa-folder-o"></i>
        <p>Documents</p>
      </div>
      <div class="folder-list-item" id="projects">
        <i class="fa fa-desktop"></i>
        <p>Projects</p>
      </div>
      <div class="folder-list-item" id="samples">
        <i class="fa fa-code"></i>
        <p>Samples</p>
      </div>
      <div class="folder-list-item" id="about-me">
        <i class="fa fa-user-circle-o"></i>
        <p>About Me</p>
      </div>
    </div> <!-- >.sidebar-folder-list -->

    <!-- Main Content View (Documents) -->
    <div class="main-content-view" id="docs-content">

      <div class="content-item">
        <div class="content-icon">
          <%= link_to 'resume.html.erb' do %>
              <i class="fa fa-file-pdf-o fa-3x"></i>
          <% end %>
        </div>
        <div class="content-description">
          resume.pdf
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-word-o fa-3x"></i>
        </div>
        <div class="content-description">
          resume.docx
        </div>
      </div>

    </div> <!-- >.window-content-view (Documents) -->

    <!-- Main Content View (Projects) -->
    <div class="main-content-view" id="projects-content" style="display:none;">

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-folder fa-3x"></i>
        </div>
        <div class="content-description">
          Project1
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-folder fa-3x"></i>
        </div>
        <div class="content-description">
          Project2
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-folder fa-3x"></i>
        </div>
        <div class="content-description">
          Project3
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-folder fa-3x"></i>
        </div>
        <div class="content-description">
          Project4
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-folder fa-3x"></i>
        </div>
        <div class="content-description">
          Project5
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-folder fa-3x"></i>
        </div>
        <div class="content-description">
          Project6
        </div>
      </div>

    </div> <!-- >.window-content-view (Projects) -->

    <!-- Main Content View (Samples) -->
    <div class="main-content-view" id="samples-content" style="display:none;">

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-code-o fa-3x"></i>
        </div>
        <div class="content-description">
          sample_1.cpp
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-code-o fa-3x"></i>
        </div>
        <div class="content-description">
          sample_1.py
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-code-o fa-3x"></i>
        </div>
        <div class="content-description">
          sample_1.swift
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-code-o fa-3x"></i>
        </div>
        <div class="content-description">
          sample_1.rb
        </div>
      </div>
      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-code-o fa-3x"></i>
        </div>
        <div class="content-description">
          sample_2.cpp
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-code-o fa-3x"></i>
        </div>
        <div class="content-description">
          sample_2.py
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-code-o fa-3x"></i>
        </div>
        <div class="content-description">
          sample_2.swift
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-code-o fa-3x"></i>
        </div>
        <div class="content-description">
          sample_2.rb
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-code-o fa-3x"></i>
        </div>
        <div class="content-description">
          sample_3.cpp
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-code-o fa-3x"></i>
        </div>
        <div class="content-description">
          sample_3.py
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-code-o fa-3x"></i>
        </div>
        <div class="content-description">
          sample_3.swift
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-file-code-o fa-3x"></i>
        </div>
        <div class="content-description">
          sample_3.rb
        </div>
      </div>
    </div> <!-- >.window-content-view (Samples) -->

    <!-- Main Content View (About) -->
    <div class="main-content-view" id="about-content" style="display:none;">

      <div class="content-item">
        <div class="content-icon">
          <i class="fa fa-address-card-o fa-3x"></i>
        </div>
        <div class="content-description">
          Contact
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <a href="https://github.com/coffeys1" target="_blank">
            <i class="fa fa-github fa-3x"></i>
          </a>
        </div>
        <div class="content-description">
          Github
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <a href="https://bitbucket.org/coffeys1/" target="_blank">

          </a>
          <a href="" target="_blank">
            <i class="fa fa-bitbucket fa-3x"></i>
          </a>
        </div>
        <div class="content-description">
          Bitbucket
        </div>
      </div>

      <div class="content-item">
        <div class="content-icon">
          <a href="https://www.linkedin.com/in/sam-coffey-44a0a581" target="_blank">
            <i class="fa fa-linkedin-square fa-3x"></i>
          </a>
        </div>
        <div class="content-description">
          LinkedIn
        </div>
      </div>

    </div>

  </div> <!-- >.window-content-view (About) -->

</div> <!-- >.doc-browser -->

<div class="modal fade document" role="dialog" id="pdf-modal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>

  function setMaxWidth(elem, max) {
    $( elem ).css( "maxWidth", ( max + "px" ) )
  }

  $('.sidebar-folder-list').height($('.main-content-view').height());

  $('.doc-browser').draggable({
    start: function(event, ui) {}
  });

  /*
  $('.doc-browser').resizable({
    alsoResize: '.window-content-view, .sidebar-folder-list'
  });
  */

  $( '.doc-browser' ).bind( "resize", setMaxWidth('.sidebar-folder-list', 125) );


  $(document).ready(function() {
    // Color variables for sidebar list items
    var listNorm = '#CACDD1';
    var listSel = '#ADB0B2';

    // Give the "Documents" item an initial selected color
    $('#docs').css({ 'background-color': listSel });

    /* List Item Click
     *
     * Change all list items back to the normal color, then
     * give the clicked list item the selected color.
     *
     * Hide the currently shown content, then show
     * the content for the selected item
     */
    $('.folder-list-item').click(function() {

      // Iterate items, give all normal color
      $('.folder-list-item').each(function() {
        $(this).css({ 'background-color': listNorm });
      });
      // Then give the selected item the selected color
      $(this).css({ 'background-color': listSel });

      // Iterate all content and hide each
      $('.main-content-view').each(function() {
        $(this).hide();
      });

      // Figure out which content to display and display it
      if ($(this).attr('id') == 'docs') {
        $('#docs-content').fadeIn(500);
      } else if ($(this).attr('id') == 'projects') {
        $('#projects-content').fadeIn(500);
      } else if ($(this).attr('id') == 'samples') {
        $('#samples-content').fadeIn(500);
      } else if ($(this).attr('id') == 'about-me') {
        $('#about-content').fadeIn(500);
      }
    });


    $('.w-min').click(function() {
      $('.doc-browser').hide(500);
      $('.min-window').delay(300).show(200);
    });


    $('.min-window').click(function() {
      $(this).hide();
      $('.doc-browser').show(600);
    });
  });
</script>