<div class="min-window">
</div>

<div class="doc-browser" id="folder-content">
  <%= render 'folders_content' %>
</div>

<div class="document" id="resume-content" hidden="true">
  <%= render 'resume' %>
</div>

<script>

    $(document).ready(function() {
      makeBrowserDraggable();

      // center the window
      var center = $(document).width()/2 - $('.doc-browser').width()/2;
      $('.doc-browser').css('left', center);
      console.log('Document width: ' + $(document).width());
      console.log('Center: ' + center);

    });

    // set the height of the window sidebar
    $('.sidebar-folder-list').height($('.main-content-view').height());

    // click action for the minimize button
    $('.w-min').click(function() {
      minimizeWindow();
    });

    // click action for the maximize button
    $('.w-max').click(function() {
      maximizeWindow();
    });

</script>