<div class="min-window">
</div>

<div class="doc-browser" id="folder-content">
  <%= render 'folders_content' %>
</div>

<div class="document" id="resume-content" hidden="true">
  <%= render 'resume' %>
</div>

<script>

  $('.sidebar-folder-list').height($('.main-content-view').height());

  $('.doc-browser').draggable({
    start: function(event, ui) {}
  });

</script>