<nav class="site-nav">
  <%= link_to 'Home', root_path, class: 'nav-option' %>
  <%= link_to 'New Folder', newfolder_path, class: 'nav-option' %>
  <%= link_to 'New Item', newitem_path, class: 'nav-option' %>
</nav>